.shop__footer {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fafafa;
  border-top: 1px solid #eaeaea;
  padding: 3.2rem 1.6rem;
}

.shop__footer__content {
  display: flex;
  justify-content: space-between;;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.shop__footer__socials a{
  text-decoration: none;
  color: #000;
  margin-right: 2.2rem;
  font-size: 1.6rem;
}