.features__header {
  padding: 5rem 2rem;
  text-align: center;
  color: #2c2e31;
  border-bottom: 1px inset #e1e3e3;
}

.features__header h2 {
  font-size: 4rem;
  word-spacing: .7rem;
  margin-bottom: 2rem;
}

.features__header p {
  position: relative;
  font-size: 4rem;
  font-weight: 300;
  word-spacing: .7rem;
  padding-bottom: 2rem;
}

.features__header p::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 1rem);
  content: "";
  width: 7rem;
  border: 1px solid #2c2e31;
}

.feature {
  padding: 12rem 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px inset #e1e3e3;
}

.feature__description {
  width: 40%;
  order: 3;
}

.feature__pic {
  width: 40%;
  display: block;
  text-align: center;
  order: 2;
}

.feature__pic img {
  width: 30rem;
}

.feature h3 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.feature p {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 5rem;
  line-height: 1.5;
}

.feature__button {
  border: 1px solid black;
  font-size: 1.65rem;
  opacity: .5;
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 64.375em) {
  .feature {
    padding: 12rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px inset #e1e3e3;
  }

  .feature__description {
    width: 100%;
    text-align: center;
  }

  .feature__pic {
    width: 100%;
    margin-bottom: 3rem;
  }
}