.footer {
  position: relative;
  padding: 8rem 6rem 0;
  background-color: #2c2e31;
  color: #888f91; 
  min-height: 30rem;
}

.footer_top {
  display: flex;
  justify-content: space-between;
}

.footer__socials {
  order: 2;
  font-size: 2.3rem;
}

.footer__socials a:not(last-of-type) {
  margin-right: 2rem;
}

#last-child {
  margin-right: 0;
}

.footer__socials img {
  display: block;
  margin: 0 auto;
  margin-top: 2.2rem;
  transform: translateX(0rem);
}

.footer__navigation {
  order: 1;
}

.footer__navigation h5 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.footer__nav {
  border-left: 1px solid #56585a;
  padding-left: 1rem;
}

.footer__list {
  list-style: none;
}

.footer__item {
  margin-bottom: 1rem;
}

.footer__link {
  text-decoration: none;
  color: inherit;
  font-size: 1.7rem;
  font-weight: 300;
}

.footer__bottom {
  margin-top: 5rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  
}

.footer__bottom .uz {
  order: 2;
}

.footer__bottom .copyright {
  order: 1;
  font-weight: 300;
  word-spacing: 3px;
}

.france {
  font-weight: 700;
  font-style: italic;
}

@media screen and (max-width: 64.375em) {
  
  .footer {
    padding: 2rem 3rem 0;
  }

  .footer_top {
    flex-direction: column;
  }

  .footer__socials{
    align-self: center;
    order: 1;
  }
}