.shop__navbar {
  display: flex;
  justify-content: center;
  background-color: #111111;
  color: #fff;
  font-size: 1.6rem;
  padding: 16px;
}

.shop__navbar__content {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}

.shop__navbar__content__link {
  text-decoration: none;
  color: #fff;
}